.mail-details-container {
    font-family: lato;
    /* padding-left: 30px; */
    position: relative;
    top: 64px;
}
    


.mail-subject {
    font-size: 1.2rem;

}
.mail-details-container .mail-data {
    width: 90%;
    margin: 20px 20px 20px 20px;
    position: relative;
    top: 100px;
}

.mail-details-container .mail-subject {
    height: 3.7rem;
}

.mail-details-container .mail-details-sender h1 {
    height: 5rem;
}

.mail-details-sender {
    font-family: dynaPuff;
    color: rgb(114, 114, 114);
    padding-top: 2.5rem;
}

.details-body {
    padding-top: 4.5rem;
    min-height: 40%;
    font-size: 1.3rem;
}

.back-btn {
    border-radius: 5px;
    width: 7rem;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    margin: 5px 5px 5px 5px;
    transition: background-color .2s;
    
}


.back-btn:hover {
    background-color: #ccc;
}
