 .mail-list {
    overflow: hidden;
    height: 100%;
} 



.mail-list li {
    cursor: pointer;
    transition: box-shadow .2s;

}

.mail-list li:hover {
    box-shadow: 0px 0px 10px 5px #8180804a;
}





