.mail-preview {
    border-bottom: 1px solid rgb(255, 255, 255);
    border-bottom: 0.5px solid rgb(200, 198, 198);
    position: relative;
    color: #4f4f4f;
}


.mail-preview p {
    display : inline;
    font-size: 1rem;
    max-width: 12ch;
    overflow: hidden;
    text-overflow: ellipsis;
   
}

.subject-body-preview  {
    padding-left: 15px;
}


.subject-body-preview {
    width: 50%;
}

.mail-preview .subject-body-preview > *{
    flex-grow: 1;
}

.mail-preview .send-from-preview{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
}

.fav-star-starred {
    padding-right: 15px;
    color: gold
}

.fav-star {
    padding-right: 15px;
}

.star-btn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}



