.mail-preview {
    border-bottom: 1px solid rgb(255, 255, 255);
    border-bottom: 0.5px solid rgb(200, 198, 198);
    position: relative;
    color: #4f4f4f;
}


.mail-preview .subject-body-preview p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
   
}

.subject-body-preview  {
    padding-left: 15px;
}


.subject-body-preview {
    width: 50%;
    align-items: center;
}

.mail-preview .subject-body-preview > *{
    flex-grow: 1;
}

.send-from-preview {
    width: 50px;
}



.fav-star-starred {
    padding-right: 15px;
    color: gold
}

.fav-star {
    padding-right: 15px;
}

.star-btn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}

.delete-book-btn {
    cursor: pointer;
    border: none;
    background-color: white;
}



