.mail-preview {
    border-bottom: 1px solid rgb(255, 255, 255);
    border-bottom: 0.5px solid rgb(200, 198, 198);
    position: relative;
    color: #4f4f4f;
    height: 45px;
}



/* .mail-preview .subject-body-preview > *{
    flex-grow: 1;
} */

.send-from-preview {
    /* flex-grow: 3; */
    /* padding-right: 80px; */
}

.subject-body-preview  {
    align-items: center;
    /* padding-left: 15px; */
    flex-grow: 7 ;
    float: left;
    justify-content: center;
    
  
}

.date-preview {
    /* flex-grow:  ; */
}

.fav-star-starred {
    padding-right: 15px;
    color: gold
}

.fav-star {
    padding-right: 15px;
}

.star-btn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}

.delete-mail-btn {
    margin-left: 15px;
    float: right;
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: large;
    color: #bdbdbd;
    transition: color .2s ;
}

.delete-mail-btn:hover {
    color: rgb(34, 31, 31);
}

.readen {
    font-family: lato;
}

.bold {
    font-family: lato-x-bold;
}



