@font-face {
    font-family: lato-thin;
    src: url('/assets/fonts/lato/Lato-Thin.ttf')
}

@font-face {
    font-family: lato;
    src: url('/assets/fonts/lato/Lato-Light.ttf');
}

@font-face {
    font-family: lato-bold;
    src: url('/assets/fonts/lato/Lato-Bold.ttf');
}

@font-face {
    font-family: lato-x-bold;
    src: url('/assets/fonts/lato/Lato-Black.ttf');
}

@font-face {
    font-family: dynaPuff;
    src: url('/assets/fonts/lato/DynaPuff-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: dynaPuff;
    src: url('/assets/fonts/DynaPuff-VariableFont_wdth\,wght.ttf');
}