.edit-toolbar button {
    border: none;
    background-color: transparent;
    height: 31px;
    width: 32px;
    margin: 0 3px;
    border-radius: 50%;
}

.edit-toolbar button:hover {
    opacity: 0.87;
    background-color: rgba(95, 99, 104, 0.157);
}


.edit-toolbar .btn-save {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    bottom: 3px;
    background-color: rgb(248, 241, 241);
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    cursor: pointer;
    outline: none;
}