a .note-preview {
    list-style: none;
    border: 1px solid;
    width: 250px;
    min-height: 60px;
    margin-inline: 16px;
    border-radius: 8px;
    padding: 10px;

    /* Inner Object */
    border: 1px solid #e0e0e0;
    color: #202124;
    font-size: 15px;
    /* "Roboto",arial,sans-serif */
    font-family: arial, sans-serif;
    overflow: hidden;

    transition-duration: 0.218s;
    transition-property: opacity, transform;
}


.note-preview:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%)
}



.preview-title {
    padding: 16px 16px 0 16px;
    padding-top: 12px;
    letter-spacing: 0.00625em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.preview-text {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 1.25rem;
    padding: 4px 16px 12px 16px;
}