.note-content {
    min-width: 0;
    width: 100%;
    top: 64px;
    position: relative;
}

.note-create {
    display: flex;
    justify-content: space-between;
    align-items: center;


    width: 70vw;
    max-width: 600px;
    height: 46px !important;
    border-radius: 8px;
    border-color: #e0e0e0;
    margin: 32px auto 16px auto;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);

    letter-spacing: .00625em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: rgba(0,0,0,0.702);
    padding-inline: 16px;
    padding-block: 12px;
}

.note-create p {
    width: 40vw;
    max-width: 400px;
}



