/* SMALL */

@media (max-width: 740px) {

    .main-mail-index {
        min-width: 640px;
        justify-content: space-between;
    }

    .mail-list {
        width: 500px;
    }

    .mails-container {
        font-size: 14px;
        width: 80%;
    }

    .mail-filter-search input { 
        font-size: 1rem;
        width: 200px;
    }
    
    .aside-bar {
        /* font-size: 1rem; */
        width: 9.06rem;
        justify-content: start;
        height: 100vh;
    }
    
    .aside-bar-content {
        width:  6rem;
        padding: 1px;;
    }
    
    .mails-container .mail-preview {
        height: 80px;
        
    }
    
    .compose-btn.btn{
        font-size: 15px;
        width: 6rem;
        margin: 15px 5px 5px 5px;
    }
    
    .aside-main-nav>* {
        font-size: 1rem;
        justify-content: start;

    }

    .mail-preview .subject-body-preview h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 6ch;
    }

    .mail-preview .subject-body-preview p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 8ch;
        /* padding-left: 8px; */
    }

}


/* MEDIUM  */

@media (min-width: 740px) {

    
    .mail-preview .subject-body-preview h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 10ch;
        }
    
        .mail-preview .subject-body-preview p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 10ch;
            padding-left: 8px;
        }

        .aside-bar {
        
            height: 100vh;
        }

        .subject-body-preview {
            flex-direction: column;
        }
    
}

/* LARGE  */

@media (min-width: 900px) {
    
    .mail-preview .subject-body-preview h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 26ch;
        }
    
        .mail-preview .subject-body-preview p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 14ch;
            padding-left: 8px;
        }

        .aside-bar {
           
            height: 100vh;
        }

        .subject-body-preview {
            flex-direction:row;
        }
}