/* SMALL */

@media (max-width: 740px) {

    .main-mail-index {
        min-width: 640px;
        justify-content: space-between;
    }

    .main-nav {
        position: fixed;
        flex-direction: column;
        top: 0px;
        background-color: rgb(217, 232, 236);
        right: 0;
        height: 100vh;
        justify-content: flex-start;
        border-left: 1px solid #868282;
        min-width: 150px;
        align-items: center;

        transform: translateX(100%);
        transition: transform .2s, box-shadow .2s;
    }

    body.menu-opened .main-nav {
        box-shadow: 0 0 8px 1px #d1d1d1;
        transform: translateX(0);
        justify-content: flex-start;
        gap: 39px;

    }

    body.menu-opened .main-screen {
        opacity: 1;
        pointer-events: auto;
    }

    .radio-sort {
        /* display: none; */

    }

    .mail-list .mail-preview {
        width: 450px;
    }

    .main-mail-index .mails-container {
        font-size: 13px;
        width: 100%;
    }

    .mail-filter-search input {
        font-size: 1rem;
        width: 180px;
    }

    .aside-bar {
        /* font-size: 1rem; */
        /* width: 5rem; */
        justify-content: start;
        left: 0;

        height: 100vh;
        width: 6rem;
        border-right: 1px solid #ccc;
        background-color: #f4fafbad;

    }

    .aside-bar-content {
        /* width:  6rem; */
        padding-right: 1px;
        padding-left: 1px;
    }

    .mails-container .mail-preview {
        height: 90px;

    }

    .compose-btn.btn {
        font-size: 14px;
        width: 5rem;
        margin: 15px 5px 5px 5px;
    }

    .aside-main-nav>* {
        font-size: .9rem;
        justify-content: start;

    }

    .mail-preview .subject-body-preview h3 {
        font-size: 14px;
        padding-left: 5px;
    }

    .mail-preview .subject-body-preview p {
        font-size: 14px;
        /* white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 8ch;
     padding-left: 8px;  */
    }

}

.aside-main-nav {
    text-align: center;
    width: 100%;
    height: 70%;
    font-size: 1.2rem;
}



/* MEDIUM  */

@media (min-width: 740px) {

    .toggle-menu {
        display: none;
    }

    .main-mail-index {
        min-width: 730px;
        justify-content: space-between;
    }

    .mail-preview .subject-body-preview p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 9ch;
        padding-left: 8px;

    }

    .mail-preview .subject-body-preview h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 14ch;

    }

    .main-mail-index {
        min-width: 725px;
        justify-content: space-between;
    }

    .aside-bar {
        height: 100vh;
        width: 11rem;
        border-right: 1px solid #ccc;
        background-color: #f4fafbad;
    }


    .compose-btn.btn {
        font-size: 1.1rem;
        width: 9rem;
        margin: 15px 5px 5px 5px;
    }




}

/* LARGE  */

@media (min-width: 960px) {
    .toggle-menu {
        display: none;
    }

    .mail-preview .subject-body-preview p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 30ch;
        padding-left: 8px;

    }

    .mail-preview .subject-body-preview h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 20ch;

    }

    .aside-bar {
        height: 100vh;
        width: 14rem;
        border-right: 1px solid #ccc;
        background-color: #f4fafbad;
    }


    .compose-btn.btn {
        font-size: 1.2rem;
        width: 10rem;
        margin: 15px 5px 5px 5px;
    }




}