header {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 -1px 0 0 #dadce0;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;    
    font: 13px/27px Roboto, Arial, sans-serif;
    height: 64px;
}
.app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 8px;
    height: 100%;
    margin-top: 5px;
}

.main-logo {
    width: 150px;
    padding-left: 20px;
}

nav a {
    margin: .5em;
}

nav a.active {
    color: rgb(236, 138, 143);
    font-weight: bold;
    text-decoration: overline;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;


}

.main-nav {
    max-width: 50%;
}

.main-nav a {
    font-size: 3em;
    transition: .2s;
}

.main-nav a:hover {
    color: #373737;
}

.main-nav>* {

    font-size: 1.2rem;
    color: #08dff3;
    font-weight: bold;

    margin-left: 20px;
}