.user-msg {
    background-color: lightgray;
    display: flex;
    align-items: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
    position: absolute;
    bottom: 1em;
    right: 1em;
    border-radius: 10px;
}

.user-msg.success {
    background-color: rgb(9, 171, 9);
}

.user-msg.error {
    background-color: rgb(136, 14, 32);
}


.user-msg button{
    border: none;
    font-size: 20px;
    color: white;
    background-color: transparent;
    float: right;
    z-index: 1;
    /* margin: 1em; */
    margin-inline: .2em;
}